@model IEnumerable<Models.Client>

<table>
    <thead>
        <tr>
            <th>Select</th>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Operations</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="SelectedClients"
                               value="@item.Id" />
                    </label>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })  |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>