@model WebApplication1.ViewModels.HomeVM

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.DropDownList("Type",
            EnumHelper.GetSelectList(typeof(Models.TypeEnum)),
            "Select Type",
            new { @class = "form-control btn" })
        <input id="Submit" type="submit" value="Search" class="btn btn-default"/>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Operations</th>
                </tr>
            </thead>
            @foreach (var item in Model.AvailableClients)
            {
                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                        name="SelectedClients"
                                        value="@item.Id" />
                            </label>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id })  |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }    
        </table>
    </div>
</div>